<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рейтинг</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Рейтинг</h1>
        <table>
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>KIT</th>
                    <th>KOT</th>
                </tr>
            </thead>
            <tbody>
                {% for user in ranking %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.kit }}</td>
                        <td>{{ user.kot }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('index') }}" class="button">Вернуться</a>
    </div>
</body>
</html>
